<div class="wrapper flex-container flex-container-vertical">
    <div class="container-medium-width container-filled-background">

        <h1><%= __('Error occured') %></h1>
        <p><%= error %> </p>

    </div>
</div>