<div class="wrapper flex-container flex-container-vertical">
    <div class="container-medium-width container-filled-background">

        <h1><%= __('An error occured') %></h1>
        <p><%= errorMessage %> </p>

    </div>
</div>