<% if (account) { %>
    <%- include("../../partials/dashboard-header.ejs") %>
<% } %>

<div class="wrapper flex-container flex-container-vertical">
    <div class="container-medium-width container-filled-background">

        <h1><%= title %></h1>
        <p><%= paragraph %></p>

    </div>
</div>