<div class="wrapper flex-container flex-container-vertical">
    <div class="container-medium-width container-filled-background">

        <h1><%= __('Email was sent') %></h1>
        <p><%= __('An email has been sent out to your specified email.') %></p>

    </div>
</div>