<%- include("../partials/dashboard-header.ejs") %>

<div class="wrapper flex-container">

    <div class="container container-medium-width container-filled-background">

        <div class="container container-large-width">

            manage user role
            
        </div>
        <div class="container container-large-width">
    
            password reset
            
        </div>
        <div class="container container-large-width">
    
            delete user
            
        </div>
    </div>



</div>