<%- include("../partials/dashboard-header.ejs") %>

<div class="wrapper flex-container">
    <div class="container container-large-width">

        manage service configuration

    </div>
    <div class="container container-large-width">

        delete service

    </div>
</div>