<%- include("../partials/dashboard-header.ejs") %>

<div class="wrapper flex-container">

    <div class="container container-medium-width container-filled-background">
        <h2>Users</h2>
        <label for="">Search</label>
        <input type="text">

        <div>
            <% users.forEach(user => { %>
                
            <% }) %>
        </div>
        Navigation goes here

    </div>



</div>