<p>
    <%= __("Hey there!") %> <br>
    <%= __("A recovery request was issued your account linked to this email. If this was you, use the following code to confirm your identity:") %> 
</p>
<p class="code"><%= code %></p>
<p>
    <%= __("If this was not you, this means somebody might be trying to target your account. We recomend changing your password.") %>
</p>