<p>
    <%= __("Hey there!") %> <br>
    <%= __("A recovery request has been issued for your account linked to this email address. If this was you, please use the following code to confirm your identity:") %> 
</p>
<p class="code"><%= code %></p>
<p>
    <%= __("If this was not you, it may indicate that someone is attempting to access your account. We recommend changing your password to secure your account.") %>
</p>