<!DOCTYPE html>
<html lang="<%= locals.getLocale() %> ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= subject %></title>
</head>
<body>
    <p><%= __("Your invite code is") %> <b><%= code %> </b></p>
</body>
</html>
