@font-face {
	font-family: NotoSans;
	src: url(../fonts/Noto_Sans/NotoSans-Bold.ttf);
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: NotoSans;
	src: url(../fonts/Noto_Sans/NotoSans-BoldItalic.ttf);
	font-style: italic;
	font-weight: 700;
}
@font-face {
	font-family: NotoSans;
	src: url(../fonts/Noto_Sans/NotoSans-ExtraBold.ttf);
	font-style: normal;
	font-weight: 800;
}
@font-face {
	font-family: NotoSans;
	src: url(../fonts/Noto_Sans/NotoSans-ExtraBoldItalic.ttf);
	font-style: italic;
	font-weight: 800;
}

@font-face {
	font-family: NotoSans;
	src: url(../fonts/Noto_Sans/NotoSans-Light.ttf);
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: NotoSans;
	src: url(../fonts/Noto_Sans/NotoSans-LightItalic.ttf);
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: NotoSans;
	src: url(../fonts/Noto_Sans/NotoSans-Regular.ttf);
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: NotoSans;
	src: url(../fonts/Noto_Sans/NotoSans-Italic.ttf);
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: NotoSans;
	src: url(../fonts/Noto_Sans/NotoSans-SemiBold.ttf);
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: NotoSans;
	src: url(../fonts/Noto_Sans/NotoSans-SemiBoldItalic.ttf);
	font-style: italic;
	font-weight: 600;
}
@font-face {
	font-family: NotoSans;
	src: url(../fonts/Noto_Sans/NotoSans-Medium.ttf);
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: NotoSans;
	src: url(../fonts/Noto_Sans/NotoSans-MediumItalic.ttf);
	font-style: italic;
	font-weight: 500;
}

