$lightcolor: #ffffff;
$darkcolor: #000000;

$backgroudcolor: rgba(244, 91, 105, 1);
$greenSeaweed: rgba(2, 128, 144, 1);  
   
$purpleaccent: #421196;
$greenaccent: #008B61;
$redaccent: #c01c28;
$orangeaccent: #be8c00;

$verylightgrey: #f7f7f7;
$lightgrey: #ececec;
$grey: #c0c0c0;

$lightredaccent: #fca4a9;

$titlefont: NotoSans;
$textfont: NotoSans;
