<p>
    <%= __("Hey there!") %> <br>
    <%= __("An invite code has been requested using this email address. Your request has been granted, and you may use the following invite code:") %> 
</p>
<p class="code"><%= code %></p>
<p>
    <%= __("If you did not request this invite, it is possible that someone else may have access to your email address. We recommend that you take appropriate action to secure your account.") %> 
</p>