<p>
    <%= __("Hey there!") %> <br>
    <%= __("An invite code was requested using this email. Your requested is granted and you may use the following invite:") %> 
</p>
<p class="code"><%= code %></p>
<p>
    <%= __("If it wasn't you requesting this invite you can ignore this email.") %> 
</p>