<%- include("../../partials/dashboard-header.ejs") %>

<div class="container-wrapper">
    <div class="container container-filled-background">
        <h1><%= __("dashboard_welcome %s", account.username) %> </h1>
    </div>
</div>
