<div class="wrapper flex-container">
    <div class="container container-medium-width container-filled-background">

        <h1 class="center"><%= __("page.share-invite.title", app.name) %> </h1>
        <div class="qr-code-box">
            <img src="<%= inviteQR %>">
            <div><%= inviteURL %></div>
        </div>
    </div>
</div>